
html{
    font-size: 62.5%;
}

/*
Send Section
*/

#msgSend{
    width: 50rem;
    height: 30rem;
    background-color: orangered;
}

#msgSend #msgHolder{
    position: relative;
    top: 3rem;
    left: 3rem;
}

#msgSend #send{
    font-size: 2rem;
}

#msgSend #msg{
    font-size: 2rem;
}

/*
Receive Section
*/

#msgReceive{
    width: 50rem;
    height: 30rem;
    background-color: yellow;
    font-size: 2rem;
}